# General
temp
build.config
.idea/
# Flash Builder
actionscript/bin
.actionScriptProperties
.flexLibProperties

# Eclipse
.settings
.project

# Android
bin/AirPushNotification_multiMsg.ane
android/bin
android/gen
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata
ios/build

# OS X
Icon
Thumbs.db
.DS_Store

# IntelliJ
.idea
*.iml